		html, body {
			height: 100%;
			width: 100%;
			font-family: arial;
		}
		.container1 {
			float: left;
			width: 25%;
			margin-left: 240px;
		}
		.container2 {
			float: right;
			width: 25%;
			margin-right: 280px;
			margin-top: 10px;
		}

		/*section 1*/
		.s1head {
			background-color: grey;
			height: 40px;
			width: 350px;
			text-align: center;
			color: white;
			padding-top: 15px;
		}
		.tabel {
			border:1px #ddd solid;
			width:335px;
			word-wrap: break-word;
			table-layout: fixed;
			border-spacing: 0;
			margin-left: 16px;
		}
		.tblborder {
			border:1px #ddd solid;
			padding:6px;
			font-size: 13px;
		}
		.tabel tr:nth-child(1) {
			background-color: grey;
			color: white;
		}
		/*section 2*/
		.section2 {
			color: green;
			font-weight: bold;
			margin-left: 15px;
		}
		.s2head {
			line-height: 20px;
		}
		.info {
			line-height: 1px;
			font-size: 15px;
		}
		.spasi {
			line-height: 1;
		}
		.blacktext {
			color: #555;
			font-weight: normal;
		}
		.section2 .info:nth-child(2) {
			color: #555;
		}
		.menjorok {
			margin-left: 20px;
		}

		/*section 3*/
		.section3 {
			text-align: right;
		}
		.s3head {
			line-height: 1px;
		}
		.bustimeinfo {
			background-color: pink;
			width: 160px;
			font-size: 12px;
			border-radius: 5px;
			padding: 5px 8px 5px 5px;
			text-align: left;
			float: right;
		}
		.timetablenumber {
			font-size: 80px;
			line-height: 0px;
		}

		/*section 4*/
		.section4 {
			margin-top: 180px;
			clear: right;
		}
		.tabel2 {
			border-spacing: 0px;
			text-align: center;
		}
		.routesrow th:nth-child(odd) {
			font-size: 45px;
		}